.hide{display:none;}
.blink{display:none;}
.aziav{display:none}
.tab{ /*create a class for when I want something indented*/
    text-indent:50px;
}
.error{ /*formatting for error messages*/
color: red;
       font-weight: bold;
display: block;
}

.warning{ /*formatting for warnings*/
color: orange;
       font-weight: bold;
display: block;
}

.small{ /*make small text input boxes small and have the values centered*/
width: 40px;
       text-align: center;
}
td{ /*make everything inside a table cell center-aligned*/
    text-align: center;
    min-width:200px;
    max-width:350px;
}

.container{ /*align the contents of the page*/
    margin-left:5px;
    margin-right:5px;
    min-width:300px;
    max-width:900px;
}
#images{
    margin-left:5px;
    margin-right:5px;
    margin-top:25px;
    min-width:300px;
    max-width:820px;
}
.img {
display: inline;
/*width: auto;
max-width:330;
height:100%;*/
}


a.help span.halp { /*creating a help box*/
display:none;
width:400px;
      text-align:left;
color:#000;
padding:4px;
        -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
filter: progid:DXImageTransform.Microsoft.Shadow( Strength=5, Direction=135, Color='#999999' );
        text-decoration:none;
}
a.help span.short { /* making a help box show better */
width:290px;
top:-70px;
}

a.help:hover {
position: relative;
}

a.help:hover span.halp {
display: block;
position: absolute;
padding:4px 10px;
border: 1px solid black;
        background-color: #a1ade6;
}

*{
    font-family:Arial;
    font-size:0.97em;
}

h1{
    font-size:1.5em;
}

#enhance_progress{
    z-index:100;
position:absolute;
visibility:hidden;
           text-align:center;
width:400px;
margin:0px;
padding:0px;
        background-color:#fff;
border:1px solid #ccc;
}
